//------------------------------------------------------------
// Display flex
//------------------------------------------------------------
.u-flexc {
    display: flex;
    align-items: center;
}

.u-flexcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-flexwtc {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
}

.u-flexwcc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

//------------------------------------------------------------
// color
//------------------------------------------------------------
