$base-width: 1860px;
$primary-font: "Sawarabi Mincho", serif;
$color-primary: #000;
$color-secondary: #333;
$color-f6f5ef: #f6f5ef;
$color-176b6a: #176b6a;
$color-282828: #282828;
$color-1f4242: #1f4242;
