/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    padding-bottom: 60px;

    &__main {
        max-width: 1030px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        font-size: 1.4rem;
        color: $color-282828;
        line-height: 1;
        margin-bottom: 10px;
        letter-spacing: 1.4px;

        &:last-of-type {
            margin-bottom: 0;
        }

        &--3 {
            letter-spacing: 1.6px;
        }
    }

    &__logo {
        text-align: right;
        align-self: flex-start;

        &--image {
            margin-bottom: 14px;

            img {
                position: relative;
                top: 3px;
            }
        }

        &--text {
            font-size: 1.2rem;
            line-height: 1;
            letter-spacing: 1.4px;
        }
    }

    // Smartphone
    @include sp {
        max-width: 345px;
        padding: 0 15px;
        margin: 0 auto;
        padding-bottom: 50px;

        &__main {
            flex-direction: column;
        }

        &__info {
            margin-bottom: 23px;
        }

        &__logo {
            align-self: center;

            &--image {
                width: 100px;
                margin: 0 auto 16px;
                left: 1px;
            }

            &--text {
                font-size: 1rem;
                letter-spacing: 1px;
                position: relative;
                left: 1px;
            }
        }

        &__text {
            font-size: 1.3rem;
            line-height: 1.4;
            margin-bottom: 4px;
            letter-spacing: 0.1px;
            position: relative;
            left: 1px;

            &--3 {
                letter-spacing: 0;
                line-height: 1.6;
            }
        }
    }

    // Tablet
    @media screen and (min-width:768px) and (max-width: 1023.98px) {
        padding: 0 30px 30px;

        &__info {
            padding-right: 15px;
        }

        &__text {
            font-size: 1.3rem;
        }
    }

    // Laptop
    @media screen and (min-width: 1024px) and (max-width:1919px) {
        padding: 0 30px 30px;

        &__info {
            padding-right: 15px;
        }
        
    }
    
}
