/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    padding-bottom: 70px;

    &__main {
        max-width: 1030px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        font-size: 1.4rem;
        color: $color-282828;
        line-height: 1;
        margin-bottom: 10px;
        letter-spacing: 1.4px;

        &:last-of-type {
            margin-bottom: 0;
        }

        &--3 {
            letter-spacing: 1.6px;
        }
    }

    &__logo {
        text-align: right;

        &--image {
            position: relative;
            top: 2px;
        }

        &--text {
            font-size: 1.2rem;
            line-height: 1;
            margin-top: 12px;
            letter-spacing: 1.4px;
        }
    }

    @include sp {
        margin-bottom: 0;
        padding: 0 15px;
        padding-bottom: 50px;

        &__main {
            flex-direction: column;
        }

        &__info {
            margin-bottom: 23px;
        }

        &__logo {
            &--image {
                width: 100px;
                margin: 0 auto 16px;
                left: 1px;
            }

            &--text {
                font-size: 1rem;
                letter-spacing: 1px;
                position: relative;
                left: 1px;
            }
        }

        &__text {
            font-size: 1.3rem;
            line-height: 1.4;
            margin-bottom: 4px;
            letter-spacing: 0.1px;
            position: relative;
            left: 1px;

            &--3 {
                letter-spacing: 0;
                line-height: 1.6;
            }
        }
    }
}
