<footer class="c-footer">
  <div class="c-footer__main">
    <div class="c-footer__info">
      <p class="c-footer__text c-footer__text--1">商品に関するお問い合わせは</p>
      <p class="c-footer__text c-footer__text--2">健栄製薬株式会社</p>
      <p class="pc-only c-footer__text c-footer__text--3">TEL | 06-6231-5626 &nbsp;受付時間 | 8:45〜17:30(土日祝日を除く)</p>
      <p class="sp-only c-footer__text c-footer__text--3">TEL |｜06-6231-5626 &nbsp;&nbsp;受付時間 |｜8:45〜17:30(土日祝日を除く)</p>
    </div>
    <div class="c-footer__logo">
      <a href="#">
        <div class="c-footer__logo--image">
          <img src="/_public/assets/img/logo.jpg" alt="KENEI Pharmaceutical">
        </div>
        <p class="c-footer__logo--text">©KENEI Pharmaceutical</p>
      </a>
    </div>
  </div>
</footer>