<footer class="c-footer">
  <div class="c-footer__main">
    <div class="c-footer__info">
      <p class="c-footer__text c-footer__text--1">商品に関するお問い合わせは</p>
      <p class="c-footer__text c-footer__text--2">健栄製薬株式会社</p>
      <p class="u-pc--only c-footer__text c-footer__text--3">TEL | 06-6231-5626&nbsp;受付時間 | 8:45〜17:30(土日祝日を除く)</p>
      <p class="u-sp--only c-footer__text c-footer__text--3">TEL |｜<a href="tel:0662315626">06-6231-5626</a> &nbsp;&nbsp;受付時間 |｜8:45〜17:30(土日祝日を除く)</p>
    </div>
    <div class="c-footer__logo">
        <div class="c-footer__logo--image">
          <a href="#"><img src="/_public/assets/img/logo.jpg" alt="KENEI Pharmaceutical"></a>
        </div>
        <p class="c-footer__logo--text">©KENEI Pharmaceutical</p>
    </div>
  </div>
</footer>