<header class="c-header">
  <div class="c-header__leaf c-header__leaf--tl">
    <img src="/_public/assets/img/leaf-tl.png" alt="leaf top left">
  </div>
  <div class="c-header__leaf c-header__leaf--tr">
    <picture>
      <source media="(max-width: 767px)" srcset="/_public/assets/img/leaf-tr-sp.png">
      <img src="/_public/assets/img/leaf-tr.png" alt="leaf right bottom">
    </picture>
  </div>
  
  <div class="c-header__iconmenu">
    <img src="/_public/assets/img/icon-menu.png" alt="icon menu">
  </div>
  <nav class="c-header__menu">
    <div class="c-header__iconmenu--close">
      <img src="/_public/assets/img/icon-menu-close.png" alt="icon menu close">
    </div>
    <ul class="c-header__menu--list">
      <li class="c-header__menu--item">
        <a href="index.html" class="c-header__menu--link c-header__menu--link1">トップ</a>
      </li>
      <li class="c-header__menu--item">
        <a href="#p-products" class="c-header__menu--link c-header__menu--link2">毎日にハッカ油</a>
      </li>
      <li class="c-header__menu--item">
        <a href="#p-points" class="c-header__menu--link c-header__menu--link3">製品情報</a>
      </li>
      <li class="c-header__menu--item">
        <a href="#p-qa" class="c-header__menu--link c-header__menu--link4">Q&A</a>
      </li>
      <li class="c-header__menu--item">
        <a href="#p-posts" class="c-header__menu--link c-header__menu--link5">ハッカ油コラム</a>
      </li>
      <li class="c-header__menu--item">
        <a href="#p-banner" class="c-header__menu--link c-header__menu--link6">ハッカ油ムービー</a>
      </li>
    </ul>
  </nav>
</header>